<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#e63946" />
    <meta name="description" content="Strawberry" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="@Assets["Strawberry.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="min-h-screen bg-gray-50">
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
